
.stage3-card1{
    width: 400px;
    height: auto;
    background-color: white;
    border: 1px solid black ;
    border-radius: 20px;
    padding: 20px 0px;
    /* text-align: center; */
}
.stage3-icon{
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  /* background-color: red; */
}
.stage3-image{
  /* margin: 0px auto; */
/* background-color: red; */
    width: 150px;
    height: 150px;
    padding-top: 7px;
    border-radius: 6%;
    /* margin: 0px auto; */
}
.stage3-Inner{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.stage3-inner{
    /* background-color: red; */
    margin: 0px auto;
    /* width: 100%; */
    height: auto;
    /* background-color: red; */
}
.stage3-Icons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.stage3-Icon1{
    width: 60px    ;
    height: 40px;
     background-color: black;
     color: white;
     border-radius: 30%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.stage3-Icon2{
    width: 60px    ;
    height: 40px;
     background-color: black;
     color: white;
     border-radius: 30%;
     display: flex;
     align-items: center;
     justify-content: center;cursor: pointer;

}
.stage3-name{
    /* display: flex; */
    font-size: 17px;
    font-weight: 600;
    /* align-items: center; */
    
    
}
.stage3-name1,.stage3-cont1,.stage3-mail1{
    font-size: 13px;
}
.stage3-cont,.stage3-Mail1{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
}
 