
.Bar{
    /* width: 100%;
    height: 100%; */
    background-color: #F5F5F5;   
}
.bar{
    width: 100%;
    height: auto;
    background-color:  #21ABBE;
    box-shadow: 4px 2px 3px gray;
    position: sticky;
    top: 0px;
    z-index: 1;
    
    
}
.bar1{
     width: 90%;
     height: 80px;
     margin: 0px auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.left{
    display: flex;
    gap: 5px;
    align-items: center;
}
.cName{
    font-weight: 700;
    color: #FFFFFF;
    ;
}
.logout{
    color: #FFFFFF;
}
.right1{
    display: flex;
    gap: 10px;
}
.right2
{
    display: flex;
    gap: 5px;
}
.right{
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
}
.person{
    color: #FFFFFF;
}
.Logo{
    height: auto;
    width: 60px;
    border-radius: 20px;
   
}

.Page{
    width: 100%;
    height:100%;
    margin-top: 20px;
}
.role-name{
    color: red;
    font-size: 24px;
    margin-bottom: 40px;
    margin-left: 30px;
}
.page{
    width: 80%;
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    /* background-color: red; */
    /* justify-content: space-between; */
}

.card1{
    width: 300px;
    height: auto;
    background-color: white;
    border: 1px solid black ;
    border-radius: 20px;
    /* text-align: center; */
}
.icon{
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  /* background-color: red; */
}
.image{
  /* margin: 0px auto; */
/* background-color: red; */
    width: 150px;
    height: 150px;
    padding-top: 7px;
    /* margin: 0px auto; */
}
.Inner{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.inner{
    width: 80%;
    height: auto;
    /* background-color: red; */
}
.Icons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Icon1{
    width: 60px    ;
    height: 40px;
     background-color: black;
     color: white;
     border-radius: 30%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.Icon2{
    width: 60px    ;
    height: 40px;
     background-color: black;
     color: white;
     border-radius: 30%;
     display: flex;
     align-items: center;
     justify-content: center;cursor: pointer;

}
.name{
    /* display: flex; */
    font-size: 17px;
    font-weight: 600;
    /* align-items: center; */
    
    
}
.name1,.cont1,.mail1{
    font-size: 13px;
}
.cont,.Mail1{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
}
  
@media screen and (max-width:400px) {
     .bar{
        /* width: 90%; */
        /* display: none; */
    }  
    .right{
        display: none;
    } 
    
}